In [1]:
# Import All Lab's
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

c:\Users\saura\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_csv("Churn_Modelling (1).csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# data preprocessing

In [5]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Here creating label encoder object to create female and male value to number

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

In [9]:
geo_encoder  # Transformed array

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [11]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoded_df = pd.DataFrame(geo_encoder, columns = onehot_encoder_geo.get_feature_names_out(['Geography']) )

In [13]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [14]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis = 1)

In [15]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [16]:
# Save your encoder
label_encoder_gender.classes_

array(['Female', 'Male'], dtype=object)

In [17]:
onehot_encoder_geo.categories_

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [18]:
onehot_encoder_geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)

In [19]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

In [20]:
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [21]:
X = data.drop('Exited',axis = 1)
y = data['Exited']

In [22]:
# Split your data
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 1,stratify = y)

In [23]:
# Scale your data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
X_train[:3]

array([[-0.55659995, -1.0952694 ,  3.51657666,  1.38096449,  0.92575047,
        -0.91433263,  0.6493972 ,  0.96728484, -1.50521554, -1.00150113,
        -0.57812007,  1.73784364],
       [-0.37047162,  0.91301738,  0.95628193, -1.37631159, -1.21986153,
         0.79790076,  0.6493972 , -1.03382164,  1.61465549,  0.99850112,
        -0.57812007, -0.57542576],
       [-2.11800977,  0.91301738,  2.18901643, -1.37631159, -0.19477319,
        -0.91433263,  0.6493972 ,  0.96728484, -0.40507824, -1.00150113,
        -0.57812007,  1.73784364]])

In [25]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

# Ann Implementation

In [26]:
import tensorflow as tf   # It is used to define your model and pytorch is also same
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [27]:
(X_train.shape[0],X_train.shape[1])

(8000, 12)

Building Ann Model

In [28]:
model = Sequential([

    # Here the relu and sigmoid is used to check the output
    # The result passes through an activation function (like ReLU or Sigmoid) 
    # to introduce non-linearity and learn complex relationships.
    # In the first layer input is necessary for the decision function.

    Dense(units=64,activation='relu',input_shape=(X_train.shape[1],),name="H_1"),  # 1st Hidden Layer
    Dense(units=32,activation='relu',name="H_2"),  # 2nd Hidden Layer
    Dense(units=1,activation='sigmoid', name="OUTPUT") # Outpur Layer 
])

c:\Users\saura\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [29]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ H_1 (Dense)                     │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ H_2 (Dense)                     │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ OUTPUT (Dense)                  │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
# Here 12*64+64  =  832 H_1   weight is calulated in the first layer.
# Here 64*32+33 = 2080  H_2   here H_1 weight is calulated in the second layer
# Here 32+1 = 33  H_3

In [31]:
model.compile(optimizer = 'adam',
              loss = 'binary_crossentropy',
              metrics = ['accuracy']
              )

# Set up the tensorboard

Saving the timeframe here for latest training data

In [32]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
Tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

# Set up early stopping

# This step stop from overfitting

After each epoch the training data
Early stopping will stop training the model when the validation loss stops improving.

In [33]:
early_stopping_callback = EarlyStopping(monitor = "val_loss",
                                        patience = 10,
                                        restore_best_weights = True)

In [34]:
history = model.fit(x=X_train, y = y_train,
                    validation_data=(X_test,y_test),
                    epochs = 100,callbacks = [Tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7165 - loss: 0.5536 - val_accuracy: 0.8265 - val_loss: 0.4036
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8347 - loss: 0.3930 - val_accuracy: 0.8490 - val_loss: 0.3712
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8585 - loss: 0.3534 - val_accuracy: 0.8565 - val_loss: 0.3590
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8661 - loss: 0.3344 - val_accuracy: 0.8570 - val_loss: 0.3532
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8538 - loss: 0.3433 - val_accuracy: 0.8520 - val_loss: 0.3552
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8560 - loss: 0.3386 - val_accuracy: 0.8570 - val_loss: 0.3507
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8602 - loss: 0.3329 - val_accuracy: 0.8575 - val_loss: 0.3506
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8589 - loss: 0.3315 - val_accuracy: 0.8595 - val_loss: 0.3496
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8661 - loss: 0.3116 - val_accuracy: 0.8535 - val_loss: 0.3530
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8604 - loss: 0.3287 - val_accuracy: 0.8540 - val_loss: 0.3476
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8676 - loss: 0.3152 - val_accuracy: 0.8570 - val_loss: 0.3482
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8716 - loss: 0.3129 - val_accuracy: 0.8550 - val_loss: 0.3493
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8633 - loss: 0.3225 - val_accuracy: 0.8575 - val_loss: 0.3487
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8750 - loss: 0.3037 - val_accuracy: 0.8550 - val_loss: 0.3516
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8623 - loss: 0.3177 - val_accuracy: 0.8545 - val_loss: 0.3489
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8699 - loss: 0.3105 - val_accuracy: 0.8620 - val_loss: 0.3510
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8688 - loss: 0.3117 - val_accuracy: 0.8575 - val_loss: 0.3479
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8682 - loss: 0.3088 - val_accuracy: 0.8575 - val_loss: 0.3486
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8665 - loss: 0.3132 - val_accuracy: 0.8550 - val_loss: 0.3505
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8751 - loss: 0.3063 - val_accuracy: 0.8570 - val_loss: 0.3481

In [35]:
history = model.fit(x=X_train, y = y_train,
                    validation_data=(X_test,y_test),
                    epochs = 100,callbacks = [Tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8667 - loss: 0.3227 - val_accuracy: 0.8540 - val_loss: 0.3466
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8689 - loss: 0.3136 - val_accuracy: 0.8530 - val_loss: 0.3484
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8669 - loss: 0.3223 - val_accuracy: 0.8595 - val_loss: 0.3529
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8724 - loss: 0.3171 - val_accuracy: 0.8565 - val_loss: 0.3468
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8685 - loss: 0.3078 - val_accuracy: 0.8565 - val_loss: 0.3462
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8702 - loss: 0.3093 - val_accuracy: 0.8555 - val_loss: 0.3498
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8722 - loss: 0.3041 - val_accuracy: 0.8490 - val_loss: 0.3513
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8656 - loss: 0.3113 - val_accuracy: 0.8570 - val_loss: 0.3538
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8703 - loss: 0.3106 - val_accuracy: 0.8580 - val_loss: 0.3494
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8698 - loss: 0.3125 - val_accuracy: 0.8545 - val_loss: 0.3531
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8682 - loss: 0.3173 - val_accuracy: 0.8560 - val_loss: 0.3528
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8727 - loss: 0.3139 - val_accuracy: 0.8530 - val_loss: 0.3548
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8739 - loss: 0.2991 - val_accuracy: 0.8585 - val_loss: 0.3480
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8781 - loss: 0.2998 - val_accuracy: 0.8620 - val_loss: 0.3500
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8713 - loss: 0.3041 - val_accuracy: 0.8570 - val_loss: 0.3523

In [36]:
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [37]:
%load_ext tensorboard

In [38]:
%tensorboard --logdir logs/fit/

Reusing TensorBoard on port 6006 (pid 146656), started 22:19:03 ago. (Use '!kill 146656' to kill it.)